<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/basic">
<head>
<title>Indy Droids Inventory</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body layout:fragment="content">

	<div class="row">
		<h1>Details</h1>
		<h3>Transaction</h3>
		<hr />
		<dl class="dl-horizontal" th:if="${transaction}">
			<dt>Transaction ID #</dt>
			<dd th:text="${transaction.id}"></dd>
			<dt>User Name</dt>
			<dd th:text="${transaction.user.userFirstName} + ' ' + ${transaction.user.userLastName}"></dd>
			<dt>Product</dt>
			<dd th:text="${transaction.product.productName}"></dd>
			<dt>Quantity</dt>
			<dd th:text="${transaction.productQuantity}"></dd>
			<dt>Price</dt>
			<dd th:text="${transaction.product.productPrice}"></dd>
			<dt>Purchased</dt>
			<dd th:text="${transaction.transactionDate}"></dd>

		</dl>
		<a th:href="@{|/transaction/${transaction.id}/edit|}"><button
				class="btn btn-primary">Edit</button></a> <a href="/"
			th:href="@{|/transaction|}">Back</a>

		<div th:unless="${transaction}">
			<h1>Product not found</h1>
		</div>
	</div>
</body>
</html>
