<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/basic">
<head>
<link rel="stylesheet" type="text/css" href="/../../css/main.css" th:href="@{/../../css/main.css}"/>
</head>
<body layout:fragment="content">

	<div class="row">
		<h1>Delete</h1>
		<hr />
		<form method="POST" th:object="${product}"
			enctype="multipart/form-data">
			<input type="hidden" th:field="*{id}" />
			<div th:if="${product}">
				<img id="avatar" src="" th:if="${productImage}"
				th:src="${productImage.htmlSrc}" alt="Profile Image" title="Profile
				Image" />
				<dl class="dl-horizontal" th:if="${product}">
					<dt>Product ID #</dt>
					<dd th:text="${product.id}"></dd>
					<dt>Name</dt>
					<dd th:text="${product.productName}"></dd>
					<dt>SKU</dt>
					<dd th:text="${product.sku}"></dd>
					<dt>Price</dt>
					<dd th:text="${product.productPrice}"></dd>
					<dt>Inventory</dt>
					<dd th:text="${product.inventory}"></dd>

				</dl>
				<button type="submit" class="btn btn-primary">Delete</button>
				<div id="back-btn">
			<a href="/" th:href="@{|/products|}"><span
				class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>Back</a>
		</div>
			</div>
			<div th:unless="${product}">
				<h1>Product not found</h1>
			</div>
		</form>
	</div>
</body>
</html>
