body {
	background-color: #333333;
	color: #fafafa;
}

hr {
	border-color: #fafafa;
}

#index-nav {
	background-color: transparent;
}

#index-nav #brand-logo {
	color: #ffc600;
}

#index-nav #nav-btn a {
	color: #fafafa;
}

#index-nav #nav-btn :hover {
	background-color: transparent;
	color: #ffc600;
	transition: all 0.2s ease;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th{
	background-color: #ffc600;
	color: #333333;
	transition: all 0.2s ease;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover a{
	color: #333333;
	transition: all 0.2s ease;
}

.btn-primary {
	background-color: #ffc600;
	border-color: #ffc600;
	color: #333333;
	transition: all 0.2s ease;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #E6B200;
  border-color: #E6B200;
  color: #333333;
}

#back-btn {
	padding: 20px 20px 20px 0px;
	color: #ffc600;
	transition: all 0.2s ease;
}

#back-btn :hover {
	color: #E6B200;
	text-decoration: none;
}

#back-btn a{
	color: #ffc600;
	transition: all 0.2s ease;
}

/* #back-btn a :hover {
	color: #ffc600;
	text-decoration: none;
} */

td a {
	color: #fafafa;
	text-decoration: none;
	transition: all 0.2s ease;
}

td a :hover {
	color: #fafafa;
	text-decoration: none;
}
