body {
	background:url('../../css/droids_background_large.jpg') no-repeat;
	background-position: 50% 20%;
	background-color: #333333;
	color: #fafafa;
	font-size: 16px;
}

hr {
	border-color: #fafafa;
}

#index-nav {
	background-color: transparent;
}

#index-nav #brand-logo {
	color: #ffc600;
}

#index-nav #nav-btn a {
	color: #fafafa;
}

#index-nav #nav-btn :hover {
	background-color: transparent;
	color: #ffc600;
	transition: all 0.2s ease;
}

#welcome-section {
	margin-top: 100px;
	padding: 20px 30px 20px 30px;
	border-radius: 2px;
	background-color: rgba(0, 0, 0, 0.5);
}